.ConfirmDeleteTag {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
}

.ConfirmDeleteTag .buttons {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.ConfirmDeleteTag button {
  padding: 0.3rem 1rem;
  border: none;
  border-radius: 2px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.ConfirmDeleteTag button.confirm {
  background-color: rgb(193, 58, 58);
}

.ConfirmDeleteTag button.confirm:hover {
  background-color: rgb(213, 66, 66);
}

.ConfirmDeleteTag button.cancel {
  background-color: rgb(65, 65, 65);
}

.ConfirmDeleteTag button.cancel:hover {
  background-color: rgb(94, 94, 94);
}
