.GridSizePicker {
  display: grid;
  cursor: pointer;
}

.grid-item {
  width: 100%;
  padding-top: 100%; /* This makes the item square. It's a percentage so it's responsive to grid size */
  background-color: #333;
  transition: background-color 0.1s ease-in-out;
  box-shadow: inset 0 0 0 1px black;
}

.grid-item.selected {
  background-color: #fff;
}

.grid-item.hovered {
  background-color: #a5abb1;
}
.grid-item.selected.deselected {
  background-color: #464646;
}

.grid-item.selected.hovered {
  background-color: #fff;
}

.grid-item.hovered:hover {
  background-color: #4ff6a5;
}
