.aboutContainer {
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50px;
  height: 100%;
  width: 100%;
  position: fixed;
  pointer-events: none;
}

.aboutMenu {
  z-index: 99999;
  padding: 8px;
  position: relative;
  max-width: 600px;
  min-width: 600px;
  background: black;
  border-radius: 8px;
  opacity: 0.8;
  text-align: center;
  pointer-events: all;
}

.aboutMenu img {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 8px;
  left: 8px;
  border-radius: 4px;
}

.aboutMenu .closeButton {
  position: absolute;
  width: 50px;
  height: 50px;
  padding: 16px 0;
  top: 0;
  right: 0;
  cursor: pointer;
  user-select: none;
}

.aboutMenu h1 {
  margin: 8px 0 0 0;
  user-select: none;
}

.aboutMenu .updateCheck {
  user-select: none;

  font-size: 1rem;
  color: rgb(243, 94, 83);
  padding: 16px 0;
  user-select: none;
  cursor: pointer;
}

.aboutMenu .updateCheck:hover {
  color: rgb(179, 70, 62);
}
.aboutMenu .purchaseLink {
  user-select: none;

  font-size: 1rem;
  color: rgb(243, 94, 83);
  padding: 16px 0;
  user-select: none;
  cursor: pointer;
}

.aboutMenu .purchaseLink:hover {
  color: rgb(179, 70, 62);
}

.aboutMenu input {
  width: 100%;
  height: 40px;
  border: none;
  box-sizing: border-box;
  background-color: white;
  border-radius: 8;
  padding: 8px 16px;
  text-transform: uppercase;
}

.aboutMenu button {
  user-select: none;
  margin-top: 16px;
  color: white;
  font-size: 1.5rem;
  font-weight: 400;
  background-color: rgb(145, 3, 50);
  width: 100%;
  padding: 8px;
  cursor: pointer;
  border: none;
}

.aboutMenu .registrationStatusContainer {
  margin-bottom: 16px;
}
.aboutMenu .version {
  margin: 8px;
  display: block;
  user-select: none;
}
.aboutMenu .registrationStatus {
  display: block;
  user-select: none;
}

.aboutMenu .message {
  display: block;
  width: 600px;
  margin: 10px 0 0 0;
}
