html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

#root {
  position: relative;
  color: white;
  height: 100vh;
  background-color: black;
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  overflow-y: hidden;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  flex-wrap: wrap;
  text-align: center;
  display: flex;
  align-items: center;
}

.lock-scroll {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  height: 0px;
  background: transparent; /* Optional: just make scrollbar invisible */
}

.container img {
  display: block;
  margin: auto;
  user-select: none;
}

.container video {
  display: block;
  margin: auto;
  user-select: none;
}

.listContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  flex-wrap: wrap;
}

.listContainer img {
  display: block;
  margin: auto;
  user-select: none;
}

.listContainer video {
  display: block;
  margin: auto;
  user-select: none;
}

.overscan {
  max-height: 120%;
  min-height: 100%;
}

.fill {
  min-width: 100%;
  min-height: 100%;
}

.fit {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.cover.portrait {
  height: 100%;
}

.cover.landscape {
  width: 100%;
}

.overscanImagePortrait {
  cursor: pointer;
  flex-shrink: 0;
  width: 120%;
}

.overscanImageLandscape {
  cursor: pointer;
  flex-shrink: 0;
  height: 120%;
}

.overscanVideoPortrait {
  cursor: pointer;
  flex-shrink: 0;
  width: 120%;
}

.overscanVideoLandscape {
  cursor: pointer;
  flex-shrink: 0;
  height: 120%;
}

.fitImagePortrait {
  cursor: pointer;
  flex-shrink: 0;
  max-height: 100%;
}

.fitImageLandscape {
  cursor: pointer;
  flex-shrink: 0;
  max-width: 100%;
}

.fitVideoPortrait {
  cursor: pointer;
  flex-shrink: 0;
  max-height: 100%;
}

.fitVideoLandscape {
  cursor: pointer;
  flex-shrink: 0;
  max-width: 100%;
}

.loadingContainer {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loadingContainer h1 {
  display: block;
}
.noItemsContainer {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.noItemsMessage {
  color: gainsboro;
  display: block;
}
.hotkeyController {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

.hotCorner {
  user-select: none;
  cursor: pointer;
  font-size: 2rem;
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  width: 40px;
  padding: 45px 15px 15px 45px;
  height: 40px;
  bottom: 0;
  right: 0;
  z-index: 999;
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}

.hotCorner img {
  width: 100%;
}
.hotCorner:hover {
  opacity: 0.8;
}

.hotCorner span {
  background-color: white;
  border-radius: 4px;
  width: 40px;
  height: 40px;
  margin: 5px;
  display: block;
}

.dragArea {
  -webkit-app-region: drag;
  width: 100%;
  height: 50px;
  z-index: 9999;
  position: absolute;
}
.firstLoadContainer {
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.firstLoadMenu {
  z-index: 99999;
  padding: 8px;
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  background: black;
  border-radius: 8px;
  opacity: 0.8;
}
.changeLaterContainer {
  margin-top: 32px;
  width: 100%;
  text-align: center;
}
.changeLaterMessage {
  margin-top: 8px;
  width: 300px;
  display: inline-block;
  color: #ff356c;
  text-align: center;
}
.firstLoadMenu .option {
  box-sizing: border-box;
  text-align: center;
  padding: 16px;
  flex: 1 1 50%;
  position: relative;
  cursor: pointer;
  transition: background-color 0.5s ease, color 0.5s ease;
}
.option:hover {
  color: rgb(78, 78, 78);
  background-color: gainsboro;
}
.trackpad span,
.mouse span {
  max-width: 100px;
}
.iconContainer {
  position: relative;
  height: 100px;
  width: 100%;
}
.iconScroll,
.iconScroll:before {
  position: absolute;
  left: 50%;
}

.iconScroll {
  width: 40px;
  height: 70px;
  margin-left: -20px;
  top: 50%;
  margin-top: -35px;
  box-shadow: inset 0 0 0 1px #fff;
  border-radius: 25px;
}

.iconScroll:before {
  content: "";
  width: 8px;
  height: 8px;
  background: #fff;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll;
}

.trackPadScroll,
.trackPadScroll:before,
.trackPadScroll:after {
  position: absolute;
  left: 50%;
}

.trackPadScroll {
  width: 90px;
  height: 70px;
  margin-left: -45px;
  top: 50%;
  margin-top: -35px;
  box-shadow: inset 0 0 0 1px #fff;
  border-radius: 8px;
}

.trackPadScroll:before {
  content: "";
  width: 8px;
  height: 8px;
  background: #fff;
  margin-left: 12px;
  top: 30px;
  border-radius: 4px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: tap;
}

.trackPadScroll:after {
  content: "";
  width: 8px;
  height: 8px;
  background: #fff;
  margin-left: -24px;
  top: 30px;
  border-radius: 4px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: tap;
}

@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(46px);
  }
}

@keyframes tap {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.previous {
  position: fixed;
  left: -9999px;
}
.next {
  position: fixed;
  right: -9999px;
}
