html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

#root {
  position: relative;
  color: white;
  height: 100vh;
  background-color: black;
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  overflow-y: hidden;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  flex-wrap: wrap;
  text-align: center;
  display: flex;
  align-items: center;
}

.container img {
  display: block;
  margin: auto;
  user-select: none;
}

.container video {
  display: block;
  margin: auto;
  user-select: none;
}

.listContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  flex-wrap: wrap;
}

.listContainer img {
  display: block;
  margin: auto;
  user-select: none;
}

.listContainer video {
  display: block;
  margin: auto;
  user-select: none;
}

.overscan {
  max-height: 120%;
  min-height: 100%;
}

.listImagePortrait {
  cursor: pointer;
  flex-shrink: 0;
  width: 120%;
}

.listImageLandscape {
  cursor: pointer;
  flex-shrink: 0;
  height: 120%;
}

.listVideoPortrait {
  cursor: pointer;
  flex-shrink: 0;
  width: 120%;
}

.listVideoLandscape {
  cursor: pointer;
  flex-shrink: 0;
  height: 120%;
}

.noItemsContainer {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.noItemsContainer h1 {
  display: block;
}

.hotkeyController {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

.statusContainer {
  background-color: black;
  color: white;
  top: 30px;
  left: 30px;
  z-index: 9999;
  opacity: 0;
  position: fixed;
  transition: opacity 0.25s ease-in-out;
  user-select: none;
}
.statusContainer:hover {
  opacity: 0.8;
}
.statusToast {
  border-radius: 4px;
  margin-bottom: 4px;
  padding: 8px;
  font-size: 0.6rem;
}
.statusLabel {
  font-weight: 600;
  margin-right: 2rem;
  width: 100px;
  display: inline-block;
}
.statusValue {
  cursor: pointer;
}

.statusValue:hover {
  color: rgb(132, 149, 170);
}

.hotCorner {
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  width: 100px;
  padding: 5px;
  border-radius: 8px;
  height: 100px;
  bottom: 5px;
  right: 5px;
  z-index: 999;
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}
.hotCorner:hover {
  opacity: 0.8;
}

.hotCorner span {
  background-color: white;
  border-radius: 4px;
  width: 40px;
  height: 40px;
  margin: 5px;
  display: block;
}
