html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

#root {
  position: relative;
  color: white;
  height: 100vh;
  background-color: black;
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  overflow-y: hidden;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  flex-wrap: wrap;
  text-align: center;
  display: flex;
  align-items: center;
}

::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  height: 0px;
  background: transparent; /* Optional: just make scrollbar invisible */
}

.container img {
  display: block;
  margin: auto;
  user-select: none;
}

.container video {
  display: block;
  margin: auto;
  user-select: none;
}

.listContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  flex-wrap: wrap;
}

.listContainer img {
  display: block;
  margin: auto;
  user-select: none;
}

.listContainer video {
  display: block;
  margin: auto;
  user-select: none;
}

.overscan {
  max-height: 120%;
  min-height: 100%;
}

.fill {
  min-width: 100%;
  min-height: 100%;
}

.fit {
  max-width: 100%;
  max-height: 100%;
  min-height: 100%;
}

.overscanImagePortrait {
  cursor: pointer;
  flex-shrink: 0;
  width: 120%;
}

.overscanImageLandscape {
  cursor: pointer;
  flex-shrink: 0;
  height: 120%;
}

.overscanVideoPortrait {
  cursor: pointer;
  flex-shrink: 0;
  width: 120%;
}

.overscanVideoLandscape {
  cursor: pointer;
  flex-shrink: 0;
  height: 120%;
}

.fitImagePortrait {
  cursor: pointer;
  flex-shrink: 0;
  max-height: 100%;
}

.fitImageLandscape {
  cursor: pointer;
  flex-shrink: 0;
  max-width: 100%;
}

.fitVideoPortrait {
  cursor: pointer;
  flex-shrink: 0;
  max-height: 100%;
}

.fitVideoLandscape {
  cursor: pointer;
  flex-shrink: 0;
  max-width: 100%;
}

.noItemsContainer {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.noItemsContainer h1 {
  display: block;
}

.hotkeyController {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

.statusContainer {
  color: white;
  background-color: black;
  border-radius: 4px;
  bottom: 50px;
  left: 50px;
  z-index: 9999;
  padding: 8px 16px;
  position: fixed;
  user-select: none;
}

.dragArea {
  -webkit-app-region: drag;
  width: 100%;
  height: 50px;
}
.windowedControl {
  display: inline-block;
  height: 16px;
  width: 16px;
  margin: 8px 0 8px 8px;
  border-radius: 50%;
  background-color: rgb(223, 226, 31);
}
.fullScreenControl {
  display: inline-block;
  height: 16px;
  width: 16px;
  margin: 8px 0 8px 8px;
  border-radius: 50%;
  background-color: rgb(0, 179, 54);
}
.closeControl {
  display: inline-block;
  height: 16px;
  width: 16px;
  margin: 8px 0 8px 8px;
  border-radius: 50%;
  background-color: rgb(211, 3, 72);
}
.windowedControl:hover {
  background-color: rgb(176, 179, 27);
}
.fullScreenControl:hover {
  background-color: rgb(4, 133, 42);
}
.closeControl:hover {
  background-color: rgb(153, 6, 55);
}
.statusToast {
  border-radius: 4px;
  margin-bottom: 4px;
  padding: 8px;
  font-size: 0.6rem;
}
.statusLabel {
  font-weight: 600;
  margin-right: 2rem;
  width: 100px;
  display: inline-block;
}
.statusValue {
  cursor: pointer;
}

.statusValue:hover {
  color: rgb(132, 149, 170);
}

.hotCorner {
  user-select: none;
  cursor: pointer;
  font-size: 2rem;
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  width: 40px;
  padding: 45px 15px 15px 45px;
  height: 40px;
  bottom: 0;
  right: 0;
  z-index: 999;
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}

.hotCorner img {
  width: 100%;
}
.hotCorner:hover {
  opacity: 0.8;
}

.hotCorner span {
  background-color: white;
  border-radius: 4px;
  width: 40px;
  height: 40px;
  margin: 5px;
  display: block;
}

.settingsButton {
  user-select: none;
  cursor: pointer;
  font-size: 2rem;
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  width: 40px;
  padding: 45px 45px 15px 15px;
  height: 40px;
  bottom: 0;
  left: 0px;
  z-index: 999;
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}
.settingsButton img {
  width: 100%;
}
.settingsButton:hover {
  opacity: 0.8;
}

.itemCount {
  color: rgb(204, 149, 221);
  margin-left: 4px;
}
