@font-face {
  font-family: open-sans;
  src: url(../../assets/fonts/OpenSans-Regular.ttf);
}

* {
  font-family: open-sans;
}

body {
  background-color: black;
  color: white;
  font-family: open-sans;
}

* {
  box-sizing: border-box;
  user-select: none;
}

*:focus {
  outline: none;
}
