:root {
  --controls-background-color: rgba(0, 0, 0, 1);
  --controls-title-bar-color: rgb(55, 103, 146);
  --controls-input-color: rgb(255, 255, 255);
  --controls-button-color: rgb(55, 103, 146);
  --settings-button-color: #584a5b;
  --settings-button-color-active: #493d4c;
  --controls-tab-color: rgb(58, 51, 59);
  --green-interactive: rgb(22, 193, 105);
  --green-static: rgb(61, 119, 89);
}

body,
html,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: open-sans;
  src: url(../../assets/fonts/OpenSans-Regular.ttf);
}

* {
  font-family: open-sans;
}

body {
  background-color: black;
  color: white;
  font-family: open-sans;
}

* {
  box-sizing: border-box;
  user-select: none;
}

*:focus {
  outline: none;
}
